<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MediHub - Accueil</title>
</head>
<body>
<div>
    <h1>Bienvenue sur MediHub</h1>
    <p>Ceci est une application de gestion de cabinet médical.</p>

    <!--<div th:if="${message}">
        <p th:text="'Message: ' + ${message}"></p>
    </div>-->

    <!-- Formulaire de recherche de patient -->
    <!--  <form action="#" th:action="@{/patients}" method="get">
          <label for="searchInput">Rechercher un patient :</label>
          <input type="text" id="searchInput" name="keyword" placeholder="Nom du patient...">
          <button type="submit">Rechercher</button>
      </form>-->

    <!-- Liste de patients -->
    <!-- <div th:if="${patients}">
         <h2>Liste des patients :</h2>
         <ul>
             <li th:each="patient : ${patients}">
                 <span th:text="${patient.firstName + ' ' + patient.lastName}"></span>
             </li>
         </ul>
     </div>-->
</div>
</body>
</html>
