<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nurses Index</title>
</head>
<body>
<h1>Nurses List</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone 1</th>
        <th>Shift</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of Nurses and display Nurse details -->
    <tr th:each="nurse : ${nurses}">
        <td th:text="${nurse.id}"></td>
        <td th:text="${nurse.firstName + ' ' + nurse.lastName}"></td>
        <td th:text="${nurse.email}"></td>
        <td th:text="${nurse.phone1}"></td>
        <td th:text="${nurse.shift}"></td>
        <td>
            <a th:href="@{'/getNurseById/' + ${nurse.id}}">View</a> |
            <a th:href="@{'/updateNurseForm?id=' + ${nurse.id}}">Update</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
